* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Header section */
header {
  background-color: black;
  border-bottom: solid 1px #444444;
}
.container {
  max-width: 989rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}
.nav-list {
  position: relative;
  display: flex;
  list-style: none;
}
.nav-item {
  min-width: 10rem;
  text-align: center;
  padding-block: 1rem;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
}
#github-logo {
  top: 10px;
  position: relative;
}
#github-logo img {
  width: 10px;
  height: 10px;
  margin: none;
  padding: none;
}
/* Main section */
.aboutsection {
}
